{% extends 'base.html' %}

{% block title %}Add Item - Cabare Stocklist{% endblock %}

{% block content %}
<div class="content form mt-5">
  <h3>Add Item</h3>
  <div>
    <table class="table">
      <!-- Display messages for errors or success -->
      {% if messages %}
      <div class="col-12">
        {% for message in messages %}
        {% if message.tags == 'error' %}
        <div class="alert alert-danger">
          {{ message }}
        </div>
        {% elif message.tags == 'success' %}
        <div class="alert alert-success">
          {{ message }}
        </div>
        {% endif %}
        {% endfor %}
      </div>
      {% endif %}

      <!-- Form to add a new item -->
      <form method="post">
        {% csrf_token %}
        <div class="row gy-3 overflow-hidden">
          <!-- Item name input field -->
          <div class="col-12">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" name="item-name" id="id_item-name" maxlength="200" required
                placeholder="Name">
              <label for="id_item-name" class="form-label">Name</label>
            </div>
          </div>
          <!-- Item price input field -->
          <div class="col-12">
            <div class="form-floating mb-3">
              <input type="number" class="form-control" name="item-price" id="id_item-price" step="0.01" required
                placeholder="Price">
              <label for="id_item-price" class="form-label">Price</label>
              <!-- Display price error if any -->
              {% if price_error %}
              <div class="text-danger mt-2">{{ price_error }}</div>
              {% endif %}
            </div>
          </div>
          <!-- Item quantity input field -->
          <div class="col-12">
            <div class="form-floating mb-3">
              <input type="number" class="form-control" name="item-quantity" id="id_item-quantity" value="0" min="0"
                required placeholder="Quantity">
              <label for="id_item-quantity" class="form-label">Quantity</label>
            </div>
          </div>
          <!-- Submit button -->
          <div class="col-12">
            <div class="d-grid">
              <button class="btn btn-default btn-lg" type="submit">Add Item</button>
            </div>
          </div>
        </div>
      </form>
    </table>
  </div>
</div>
{% endblock %}