<!-- templates/home.html -->
{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Butter and Jam?</title>
  <link rel="stylesheet" href="{% static '/styles/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static '/styles/common.css' %}">
  <link rel="stylesheet" href="{% static '/styles/home.css' %}">
</head>

<body>
  <header class="header">
    <span class="welcome">Hello, {{ user.username }}</span>
    <div>
      <a href="{% url 'notifications' %}" class="btn btn-default"><img src="{% static '/images/bell.svg' %}"></a>
      <a href="{% url 'logout' %}" class="logout btn btn-default">Logout</a>
    </div>
  </header>
  <div class="background" style="background-image: url({% static '/images/coffee_pattern.jpg' %});"></div>
  <div class="container">
    <div class="content">
      <!-- Link to notifications page -->
      <h3>Items list</h3>
      {% if user.is_staff %}
      {% endif %}
      <!-- Check if items are available -->
      {% if items %}
      <!-- Table to display item list -->
      <div class="tableWrapper">
        <table class="table no-border-box">
          <!-- Table header section -->
          <thead>
            <!-- Table row for column headings -->
            <tr>
              <!-- Column headings -->
              <th scope="col" class="nameColumn">Name</th> <!-- Name column -->
              <th scope="col">Price</th> <!-- Price column -->
              <th scope="col">Quantity</th> <!-- Quantity column -->
              <th scope="col">User</th> <!-- Added by column -->
              {% if user.is_staff %}
              <th scope="col" colspan="2" class="textCenter">Actions</th> <!-- Actions column -->
              {% endif %}
            </tr>
          </thead>
          <!-- Table body section -->
          <tbody>
            <!-- Iterate over each item -->
            {% for item in items %}
            <!-- Table row for each item -->
            <tr>
              <!-- Item details columns -->
              <td scope="row" class="nameColumn">{{ item.name }}</td> <!-- Display item name -->
              <td scope="row">&euro;{{ item.price }}</td> <!-- Display item price with euro sign -->
              <td scope="row" class="textCenter">{{ item.quantity }}</td> <!-- Display item quantity -->
              <td scope="row">
                {% if item.added_by %}
                {{ item.added_by.username }}
                {% else %}
                Unknown
                {% endif %}
              </td> <!-- Display added by user -->
              <!-- Edit button -->
              {% if user.is_staff%}
              <td scope="row">
                <a href="{% url 'edit_item' item.id %}" class="btn btn-default">Edit</a>
              </td>
              {% endif %}
              {% if user.is_staff%}
              <td scope="row">
                <a href="{% url 'delete_item' item.id %}" class="btn btn-default">Delete</a>
              </td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% else %}
      <!-- Display message if no items available -->
      <p>No items available</p>
      {% endif %}
      <!-- Add a link to the add_item page -->
      <a href="{% url 'add_item' %}" class="btn btn-default">Add an Item</a>
    </div>
  </div>
  <!-- Page title -->

</body>

</html>