{% load static %}
<nav class="navbar navbar-expand-lg navbar-custom fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Butter and Jam</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                {% if user.is_authenticated and user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add_item' %}">Add Item</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link position-relative" href="{% url 'notifications' %}">
                        Notifications
                        {% if unread_notifications_count > 0 %}
                        <span class="badge badge-pink position-absolute top-0 start-100 translate-middle">
                            {{ unread_notifications_count }}

                        </span>
                        {% endif %}
                    </a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                <li class="nav-item d-flex align-items-center">
                    <span class="navbar-text me-2">Hello, {{ user.username }}</span>
                    <a href="{% url 'logout' %}" class="btn btn-default">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>