{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item List</title>
    <link rel="stylesheet" href="{% static 'styles/bootstrap.css' %}">
</head>

<body>
    <div class="container">
        <h1>Item List</h1>
        <ul>
            {% for item in items %}
            <li>{{ item.name }} - {{ item.price }} - {{ item.quantity }}</li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>