{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Item Detail</title>
  <link rel="stylesheet" href="{% static 'styles/bootstrap.css' %}">
</head>

<body>
  <h1>{{ item.name }}</h1>
  <p>Price: ${{ item.price }}</p>
  <p>Quantity: {{ item.quantity }}</p>
  <p>Reorder Threshold: {{ item.reorder_threshold }}</p>
  <p>Added by: {{ item.added_by }}</p>
</body>

</html>