<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Item Detail</title>
</head>

<body>
  <h1>{{ item.name }}</h1>
  <p>Price: {{ item.price }}</p>
  <p>Quantity: {{ item.quantity }}</p>
  <p>
    {% if item.added_by %}
    Added by: {{ item.added_by.username }}
    {% else %}
    Added by: Unknown
    {% endif %}
  </p>

  {% if needs_reorder %}
  <p style="color: red">Needs to be reordered!</p>
  {% else %}
  <p>Stock is sufficient.</p>
  {% endif %}
</body>

</html>