<!-- login.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cabare StockList</title>
    <link rel="stylesheet" href="{% static 'styles/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'styles/common.css' %}">
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
</head>

<body>
    <div class="top-right-btn"><a href="{% url 'register' %}">Create New User</a></div>
    <div class="background" style="background-image: url({% static 'images/coffee_pattern.jpg' %})"></div>
    <div class="container">
        <div class="content">
            <h3 class="title">Cabare StockList Login</h3>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" name="username" id="username" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" id="password" required>
                </div>
                <button type="submit" class="btn btn-default">Login</button>
                <a href="{% url 'password_reset' %}" class="d-block mt-3">Forgot Password?</a>

                {% if error %}
                <div class="alert alert-danger mt-3">
                    <p>{{ error }}</p>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</body>

</html>