{% extends 'base.html' %}
{% load static %}

{% block title %}Notifications - Butter and Jam{% endblock %}

{% block extra_head %}

{% endblock %}

{% block content %}
<div class="content mt-5">
    <h3>Notifications</h3>
    <div>
        {% if notifications %}
        <div class="table-responsive">
            <table class="table align-middle mb-0 bg-white">
                <thead class="bg-light">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Message</th>
                        <th scope="col">Created</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for notification in notifications %}
                    <tr>
                        <td>
                            <div class="ms-3">
                                <p class="fw-bold mb-1">{{ notification.item.name }}</p>
                            </div>
                        </td>
                        <td>{{ notification.message }}</td>
                        <td>
                            <span class="date">{{ notification.created_at }}</span>
                        </td>
                        <td>
                            {% if notification.read %}
                            <span class="badge badge-success statusRead rounded-pill d-inline">Read</span>
                            {% else %}
                            <span class="badge badge-warning statusUnread rounded-pill d-inline">Unread</span>
                            {% endif %}
                        </td>
                        <td>
                            <button class="btn btn-link btn-sm btn-rounded markAsReadButton"
                                data-id="{{notification.id}}">Mark as read</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <p>No notifications available</p>
        {% endif %}
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        'use strict';
        console.log('Ready!');
        const buttonEls = Array.from(document.querySelectorAll('.markAsReadButton'));
        buttonEls.forEach(function (buttonEl) {
            buttonEl.addEventListener('click', function (e) {
                (async function () {
                    console.log('markAsReadButton!!');
                    const notificationId = e.target.dataset.id;
                    try {
                        const response = await fetch(`/notifications/mark_as_read/${notificationId}/`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        });
                        if (response.ok) {
                            location.reload();
                        } else {
                            console.error('Error marking as read');
                        }
                    } catch (error) {
                        console.error('Fetch error:', error);
                    }
                })();
            });
        });
    });
</script>


{% endblock %}