{% extends 'base.html' %}

{% block title %}Register - Cabare Stocklist{% endblock %}

{% block content %}
<div class="content">
    <h3 class="title">Sign Up</h3>

    <!-- Display messages for errors or success -->
    {% if messages %}
    <div class="col-12">
        {% for message in messages %}
        {% if message.tags == 'error' %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
        {% elif message.tags == 'success' %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    <!-- Registration form starts here -->
    <form method="post" class="row g-3 needs-validation" novalidate>
        {% csrf_token %}
        <div class="col-12">
            <!-- Username input field -->
            <label for="validationCustomUsername" class="form-label">Username</label>
            <input type="text" class="form-control" id="validationCustomUsername" name="username" required>
            <div class="invalid-feedback">
                Please choose a username.
            </div>
        </div>
        <div class="col-12">
            <!-- Email address input field -->
            <label for="validationCustomEmail" class="form-label">Email address</label>
            <input type="email" class="form-control" id="validationCustomEmail" name="email" required>
            <div class="invalid-feedback">
                Please provide a valid email address.
            </div>
        </div>
        <div class="col-12">
            <!-- Password input field -->
            <label for="validationCustomPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="validationCustomPassword" name="password" required>
            <div class="invalid-feedback">
                Please provide a password.
            </div>
        </div>
        <div class="col-12">
            <!-- Confirm password input field -->
            <label for="validationCustomConfirmPassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="validationCustomConfirmPassword" name="confirm_password"
                required>
            <div class="invalid-feedback">
                Please confirm your password.
            </div>
        </div>
        <div class="col-12">
            <!-- Additional content can be added here if needed -->
        </div>
        <div class="col-12">
            <!-- Submit button -->
            <button class="btn btn-default" type="submit">Submit form</button>
        </div>
    </form>
</div>
{% endblock %}