html,
body {
    height: 100%;
    margin: 0;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.footer {
    color: #ffffff;
    /* Light text color */
    padding: 1rem 0;
    /* Add padding for better spacing */
}

.footer a {
    color: #f8f9fa;
    /* Light link color */
    text-decoration: none;
    margin: 0 0.5rem;
    /* Add margin for spacing between links */
}

.footer a:hover {
    color: #adb5bd;
    /* Slightly darker color on hover */
}