.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.background {
    opacity: 0.07;
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-size: 240px;
}

.content {
    width: 400px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
    position: absolute;
    right: 20px;
    top: 0;
}

.header .logout {
    margin-left: 5px;
}


.btn-default:hover {
    background-color: #f2c9a5;
    border: 1px solid #f2c9a5;
    color: black;
    opacity: 0.7;
}

.btn-default {
    background-color: #f2c9a5;
    border: 1px solid #f2c9a5;
    color: black;
}

.home-btn {
    padding: 10px;
    position: fixed;
}
