.tableWrapper {
    padding: 10px;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    margin: 10px 0;
}

.content {
    background: #f5f3f3;
    max-width: 800px;
    padding: 22px;
    border-radius: 10px;
    box-shadow: 3px 3px 20px 0px #0000003b;
}

.date,
.markAsReadButton {
    text-wrap: nowrap;
}

.statusUnread {
    color: var(--bs-danger);
}

.statusRead {
    color: var(--bs-success);
}

th {
    text-align: center;
    text-wrap: nowrap;
}

@media (max-width: 767px) {
    .content {
        padding: 15px;
    }

    .table-responsive {
        overflow-x: auto;
    }

    .table th,
    .table td {
        font-size: 14px;
        padding: 8px;
    }

    .markAsReadButton {
        font-size: 12px;
        padding: 4px 8px;
    }
}